body{
     font-family: Arial;
 }
header{
    width: 100%;
    padding: 10px 0;
    background-color: #000;
    color: white;
}
.welcome{
    margin: 0 0 0 100px;
}
.welcome, ul, li{
    display: inline;
}
span{
    font-family: STLiti;
    font-size: 20px;
}
.nav-up{
    list-style-type: none;
    position: absolute;
    right: 100px;
}
a:link{
    color: white;
    padding: 0.7em;
    text-decoration:none;
}
header a:visited{
    color: white;
}
header a:hover {
    padding: 0.7em;
    color: #696969;
    background-color: #D3D3D3;
}
.subhead{
    display: inline;
}
h1{
    font-family: 'Bookman Old Style', serif;
    font-size: 40px;
    display: inline;
    margin: 0.5em 1em;
    float: left;
}
.searchBox{
    display: inline;
    float: right;
    margin: 2em 3em;
}
input[name=search]{
    width: 12em;
    height: 1.6em;
}
.nav-down{
    padding: 1.1em 0 0 0;
    border: solid 1px #BEBEBE;
    margin: 90px 0 0 0;
    height: 2.5em;
    background-color: #D3D3D3;
    color: #000;
}
.nav-down a:link{
    color: #000;
    padding: 1.1em 4em;
    text-decoration: none;
}
.nav-down .active2:visited{
    color: #000;
    padding: 1.2em 4em;
    background-color: #fff;
}
.nav-down .active1:visited{
    color: #00868B;
    padding: 1.2em 4em;
    background-color: #fff;
}
.nav-down a:hover{
    padding: 1.2em 4em;
    background-color: #fff;
}
.intro{
    padding: 5em 0 0 3em;
    width: 950px;
    height: 750px;
}
.intro>p{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 32px;
    font-weight: bold;
    padding: 0.5em 0;
}
figcaption{
     margin-bottom: 1em;
     font-style: italic;
     font-family: "Times New Roman";
 }
.intro a:link{
    color: #000;
    padding: 0;
}
.intro a:visited{
    color: #000;
}
.intro a:hover{
    color: #00868B;
    text-decoration: underline;
}
.detail_table, tr, th{
    border: solid 1px #000;
    border-collapse: collapse;
}
.detail_table{
    width: 500px;
    height: 350px;
}
.detail_table th{
    background-color: #BEBEBE;
}
.detail_table td{
    padding-left: 10px;
}
figure{
    float: left;
}
.img_intro{
    margin: 35px 0 0 0;
    width: 500px;
    float: right;
}
.img_intro>div{
    text-indent: 20px;
}
.img_intro>p{
    margin: 0.5em 0;
    font-family: STLiti;
    font-size: 24px;
    font-weight: bold;
}
.img_intro .price{
    font-family: Georgia, 'Bookman Old Style', serif;
    font-weight: bold;
    color: #F50057;
}
.img_intro button{
    margin: 0 1em 1em 0;
    width: 16em;
    height: 3em;
    border: none;
    background-color: #87CEFA;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.5);
}
#addToCart{
    font-family: Arial;
    font-size: 13px;
}
button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.75);
}
.aside1, .aside2, .aside1 tr,.aside1 th,.aside1 td, .aside2 tr,.aside2 th,.aside2 td{
    border: solid 1px #87CEFA;
    border-collapse: collapse;
}
.aside1{
    font-family: STLiti;
    font-size: 120%;
    font-style: italic;
    position: absolute;
    top: 230px;
    right: 70px;
    width: 350px;
    height: 380px;
    text-align: center;
}
.aside2{
    font-family: STLiti;
    font-size: 120%;
    font-style: italic;
    position: absolute;
    top: 630px;
    right: 70px;
    width: 350px;
    height: 290px;
    text-align: center;
}
.aside1 th, .aside2 th{
    font-family: Arial;
    font-style: italic;
    background-color: #87CEEB;
}
.aside1 td:hover, .aside2 td:hover{
    cursor: pointer;
    color: #00868B;
}
